body {
    background-color: rgba(181, 217, 214, 1);

  }


  .main-title {

    text-align: center;
    margin-top: 40px;
    
    font-family: Exo 2;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0.05em;
  }

  .box {
    width: 668px;
    height: 376px;
    Top: 324px;
    Left: 386px;
    border-radius: 31px;
    background: rgba(113, 195, 189, 1);
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    
  }

  .second-title {
    width: 668px;
    height: 28px;
    top: 780px;
    left: 386px;

    /*styleName: Exo 2 - 28 - bold*/
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-align: center;

    position: absolute;
  top: 530px; 
  left: 50%;
  transform: translateX(-50%);

  }


  .small-box {
    width: 322px;
    height: 50px;
    padding: 16px 24px 16px 24px; 
    top: 857px;
    left: 155px;
    gap: 10px;

    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
    left: 155px;
    background: rgba(65, 140, 135, 1);
    color: rgba(255, 255, 255, 1);
  }
  
  .small-box1 {

    width: 322px;
    height: 415px;
    padding: 16px 24px;
    top: 904px;
    left: 155px;
    Gap: 16px;
    background: rgba(113, 195, 189, 1);

    font-family: Exo 2;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;

    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: absolute;
    top: 720px;
    left: 155px;

  }

  .smallbox2 {
    width: 322px;
    height: 50px;
    Top: 848px;
    Left: 559px;
    padding: 16px 24px 16px 24px;
    gap: 10px;

    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
    left: 559px;
    background: rgba(65, 140, 135, 1);
    color: rgba(255, 255, 255, 1);

  }

  .smallbox22 {

    width: 322px;
    height: 415px;
    padding: 16px 24px;
    top: 904px;
    left: 559px;
    Gap: 16px;
    background: rgba(113, 195, 189, 1);

    font-family: Exo 2;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;

    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: absolute;
    top: 720px;
    left: 559px;

  }

  .smallbox3 {
    width: 322px;
    height: 50px;
    Top: 848px;
    Left: 559px;
    padding: 16px 24px 16px 24px;
    gap: 10px;

    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
    left: 963px;
    background: rgba(65, 140, 135, 1);
    color: rgba(255, 255, 255, 1);

  }

  .smallbox33 {

    width: 322px;
    height: 415px;
    padding: 16px 24px;
    top: 904px;
    left: 963px;
    Gap: 16px;
    background: rgba(113, 195, 189, 1);

    font-family: Exo 2;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;

    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: absolute;
    top: 720px;
    left: 963px;

  }

  .titel3 {

    width: 1130px;
    height: 127px;
    top: 1200px; 
    left: 50%;
    transform: translateX(-50%); 
    font-family: Exo 2;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;


  }

  .button_hier_buchen{

    background-color: rgba(204, 153, 51, 1);
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: Verdana;
    text-align: center;
    display: inline-block;
    

    padding: 15px 32px;
    transition-duration: 0.4s;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    position: absolute;
    top: 1300px;
    left: 50%;
    transform: translateX(-50%);

}

.button_hier_buchen:hover{
    background-color: rgba(13, 29, 50, 1);
}

.third-title {

    width: 668px;
    height: 28px;
    top: 1480px;
    left: 50%;
    transform: translateX(-50%); 

    font-family: Exo 2;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-align: center;
    position: absolute;

}

.grosse_box {

    width: 1130px;
    height: 1500px; 
    top: 2300px;
    left: 50%;
    border-radius: 16px;
    border: 3px solid rgba(133, 99, 33, 1);
    background: rgba(204, 204, 204, 1);
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    
}

.bild_dw {

  width: 100px; 
  height: 100px; 
  position: absolute;
  top: 0; 
  left: 0;

}

.h1_dw {

  width: 565px;
  height: 28px;
  top: 2131px;
  left: 155px;

  font-family: Exo 2;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-align: center;

  color: rgba(31, 102, 97, 1);

  margin-bottom: 10px;

}

.h2_dw {

  width: 565px;
  height: 28px;
  top: 2200px;
  left: 155px;

  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;

  color: rgba(31, 102, 97, 1);

  margin-bottom: 16px;

}

.contact-info {

  width: 565px;
  height: 143px;
  top: 2320px;
  left: 300px; 

  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
 
}

.contact-info p {
  margin: 5px; 
  margin-left: 30px;
}

.bild_gr {

  position: absolute;
  top: 0; 
  right: 0;

}

.h1_gr {
  width: 565px;
  height: 28px;
  top: 2131px;
  right: 155px;
  font-family: Exo 2;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 10px;
}

.h2_gr {
  width: 565px;
  height: 28px;
  top: 2200px;
  right: 155px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 16px;
}

.contact-info-gr {
  width: 565px;
  height: 143px;
  top: 2320px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.contact-info-gr p {
  margin: 5px; 
  text-align: right;
  margin-right: 30px;
}

.bild_lv {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 750px;
  left: 0;
}

.h1_lv {
  width: 565px;
  height: 28px;
  top: 600px; 
  left: 155px;
  font-family: Exo 2;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 10px;
}

.h2_lv {
  width: 565px;
  height: 28px;
  top: 650px; 
  left: 155px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 16px;
}

.contact-info-lv {
  width: 565px;
  height: 143px;
  top: 700px; 
  left: 300px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.contact-info-lv p {
  margin: 5px;
  margin-left: 30px;
}

.bild_at {

    position: absolute;
    top: 750px;
    right: 0;
}

.h1_at {
  width: 565px;
  height: 28px;
  top: 800px; 
  right: 155px;
  font-family: Exo 2;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 10px;
}

.h2_at {
  width: 565px;
  height: 28px;
  top: 850px; 
  right: 155px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(31, 102, 97, 1);
  margin-bottom: 16px;
}

.contact-info-at {
  width: 565px;
  height: 143px;
  top: 900px; 
  right: 300px;
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.contact-info-at p {
  margin: 5px;
  text-align: right;
  margin-right: 30px;
}