    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    footer {
      background-color: #71C3BD;
      padding: 20px;
      color: black;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column; /* Zeilen werden jetzt gestapelt */
      align-items: flex-start;
      height: 200px;
    }

    .footer-content {
      display: flex;
      align-items: flex-start;
    }

    .footer-logo {
      margin-right: 40px;
    }

    .address {
      max-width: 300px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: smaller;
    }

    .icons-container {
      display: flex;
      align-items: center;
      padding-left: 900px;
    }

    .icon {
      margin-left: 10px;
    }

    .link-box-container {
      display: flex;
      margin-top: -35px;
      margin-left: 14%;
    }

    .link-box {
      width: 190px;
      height: 35px; 
      margin-right: 20px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      font-size: small;
      border-radius: 16px;
      background: var(--golden, #C93);
      box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
    }

    .link-box:nth-child(3) {
      margin-right: 210px;
    }