:root {
    --main-color-background: rgb(181, 217, 214);
    --darkbrown: rgb(133, 99, 33);
    --green: #418C87;
    --light2: rgb(113, 195, 189);
}

*{
    font-family: 'Exo 2', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #0D3246;
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 0px;
  }

  .header_and_nav{
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
    background-color: var(--main-color-background);
}

.Logo_klein {
   margin-left: 120px;
}

.admin{
    margin-right: 30px;
}

.table-container {
    border: 1px solid #856321;
    margin-top: 0px;
    display: flex;
    height: 50px;
  }

  .table-cell {
    flex: 1;
    color: #856321;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-right: 1px solid #856321;
    border-bottom: 1px solid 856321;
  }

  .aktuelleSeite{
    background: var(--golden, #C93);
    color: black;
}

  .table-cell:last-child {
    border-right: none;
  }

  .header-text {
    color: white;
    font-size: 35px;
  }

  .table-cell:hover{
    background: var(--golden, #C93);
    color: black;
  }

