main{
  margin: 0 3vw 0 3vw;
}

@media (min-width: 1200px) {
  
  main{
    margin-left: 10vw;
  }
 }

h1{
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: var(--darkbrown);
  margin-top: 40px;
}

h2{
  margin-top: 80px;
  font-size: 28px;
  font-weight: 700;
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

@media (min-width: 1200px){

  p{
    font-size: 24px;
    line-height: 150%;
  }
}

.button-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.button-container a {
    /*display: none;*/
    text-decoration: none;
    padding: 4px;
    background-color: rgba(204, 153, 51, 1);
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: Verdana;
    text-align: center;
    margin-right: 10px;
    transition-duration: 0.4s;
    border-radius: 8px; 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 14px; 
}

@media (min-width: 1200px){

  .button-container a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    padding: 8px 16px;
  }
}

.button-container a:last-child {
    margin-right: 0;
}

.button-container a:hover {
    background-color: rgba(13, 29, 50, 1);
}

#Kontaktformular{
  scroll-margin-top: 150px;
}

@media (min-width: 1200px){

  #Kontaktformular{
    scroll-margin-top: 200px;
  }
}

.contactbox {
    width: auto;
    border-radius: 16px;
    background-color: var(--light2);
    margin-top: 20px;
    position: relative;
}

@media (min-width: 1200px){

  .contactbox {
    width: 553px;
    margin-top: 20px;
  }
}

form{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label{
  margin: 5px 0 5px 0;
  font-size: 20px;
  border-radius: 8px;
}

label:first-child{
  margin-top:10px;
}

input{
  margin: 5px 0 5px 0;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  background-color:#dadada;
}

textarea{
  margin: 10px 0 10px 0;
  height: 200px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
  background-color:#dadada;
}

input:last-child{
  background-color: rgba(204, 153, 51, 1);
  color: white;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

input:last-child:hover{
  background-color: rgba(13, 29, 50, 1);
}

#Buerostandort{
  scroll-margin-top: 150px;
}

@media (min-width: 1200px){

  #Buerostandort{
    scroll-margin-top: 200px;
  }
}

.box2 {
  position: relative;
  background-color: var(--light2);
  width: auto;
  height: 62vw;
  padding: 10px;
}

@media (min-width: 1200px){

  .box2 {
      position: relative;
      width: 553px;
      height: 393px;
      padding: 0;
  }
}

.map {
    width: 94%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 16px;
}

.map img {
    object-fit: cover;
    border-radius: 16px;
}

@media (min-width: 1200px){
  .map {
    width: 533px;
  }
}

.box_adresse {
  width: 42%;
  height: auto; /* Change height to 'auto' or an appropriate value */
  position: relative;
  top: 40px;
  left: 150px;
  border-radius: 16px;
  padding: 5px;
  background: rgba(204, 153, 51, 1);
}

.info {
  width: auto;
  text-align: left;
  color: white;
}

.info p {
  font-size: 14px;
  margin: 1px auto 0 10px;
  line-height: 1.2;
}

@media (min-width: 1200px){

  .box_adresse {
      width: 245px;
      height: auto;
      top: 60px;
      left: 220px; 
      gap: 6px;
  }

  .info {
      width: 100%;
      font-weight: 400;
      line-height: 1.5;
  }

  .info p {
      margin: 1px auto 0 10px;
      font-size: 18px;
  }
}

.buerozeiten{
  display: grid;
  grid-template-columns: 30vw 60vw;
  row-gap: 40px;
}

.buerozeiten p{
  font-size: 16px;
}

@media (min-width:1200px){
  
  .buerozeiten{
    display: grid;
    grid-template-columns: 200px 400px;
    row-gap: 40px;
  }

  .buerozeiten p{
    font-size: 24px;
  }
}

#Telefonnummern{
  scroll-margin-top: 150px;
}

@media (min-width: 1200px){

  #Telefonnummern{
    scroll-margin-top: 200px;
  }
}

.notfall{
  display: grid;
  grid-template-columns: 30vw 60vw;
}

.notfall p{
  font-size: 16px;
}

.hinweise{
  display: none;
  color: var(--darkbrown);
}

@media (min-width: 1200px){

  .notfall{
    display: grid;
    grid-template-columns: 200px 400px 500px;
  }

  .notfall p{
    font-size: 24px;
  }

  .hinweise{
    display: block;
    color: var(--darkbrown);
  }
}